<h2>Provincias</h2>
<div class="text-right" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="btn-group">
    <button type="button" class="btn btn-success" (click)="create();" *permission="['PROVINCIAFORM:WRITE']">Agregar</button>
  </div>
</div>
<div class="col-xs-12">
  <table datatable [dtOptions]="tableOptions" [dtTrigger]="tableTrigger" class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">#</th>
        <th>País</th>
        <th>Código</th>
        <th>Provincia</th>
        <th class="text-center">Activo</th>
        <th class="text-center">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData" class="table-light">
        <td class="text-center">{{row.id}}</td>
        <td>{{row.pais.nombre}}</td>
        <td>{{row.codigo}}</td>
        <td>{{row.nombre}}</td>
        <td class="text-center">
          <input type="checkbox" (click)="updateStatus(row)" [checked]="row.activo">
        </td>
        <td class="text-center">
          <div class="btn-group mr-1" *permission="['PROVINCIAFORM:WRITE']">
            <button class="btn btn-sm button-action" (click)="update(row);">
              <i class="fa fa-pencil" title="Editar"></i>
            </button>
          </div>
          <div class="btn-group mr-1" *permission="['PROVINCIAFORM:WRITE']">
            <button class="btn btn-sm button-action" (click)="delete(row);">
              <i class="fa fa-remove" title="Eliminar"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>